.social
{
    display: grid;
    grid-column: 1 / 7;
    grid-row: social;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;

    &__head
    {
        display: grid;
        text-align: center;
        justify-content: center;
        grid-row-gap: 3rem;
    }

    &__title
    {
        height: 3.4rem;
        line-height: 3.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

    &__parrafo
    {
        width: 61.9rem;
        height: 5.7rem;
        line-height: 2.8rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

    &__box
    {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-around;
        width: 90.8rem;
        height: 4rem;
    }

    &__blog
    {
        width: 12rem;
        height: 4rem;
        background-color: #000000;
    }
}